
// buttons
@floatingActionButton: 56px;

// fonts
@baseFont: 8px;
@defaultFontSize: 1.75rem;

// nav sizing
@headerHeight: 84px;
@navHeight: 31px;
@navWidth: @headerHeight*3;
@remHeight: 5.5rem;

// page sizing
@landingHeight: 768px;
@pageHeight: @windowHeight - @headerHeight;
@pageWidth: @windowWidth;
@windowWidth: 100vw;
@windowHeight: 100vh;
@tileHeight: 172px;

// transitions
@defaultDuration: 200ms;
@defaultDelay: 0ms;
@long: 450ms;
@easeIn: cubic-bezier(0.23, 1, 0.32, 1);
@easeInOut: cubic-bezier(0.445, 0.05, 0.55, 0.95);